body {
  font-family: Varela Round, ArialRounded, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  display: grid;
  place-items: center;
}

.base-timer {
  position: relative;
  width: 200px;
  height: 200px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}


.base-timer__path-remaining.Teal {
  color: #00BFA5;
}

.base-timer__path-remaining.Green {
  color: #00C853;
}

.base-timer__path-remaining.LightGreen {
  color: #76FF03;
}

.base-timer__path-remaining.Lime {
  color: #C6FF00;
}

.base-timer__path-remaining.Yellow {
  color: #FFEA00;
}

.base-timer__path-remaining.Amber {
  color: #FFC400;
}

.base-timer__path-remaining.Orange {
  color: #FF9100;
}

.base-timer__path-remaining.Red {
  color: #FF1744;
}

.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

button {
  width: 95px;
  background-color: #9292929a;
}

.btn{
  border: none;
  color: white;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
}
.btnred{
  background: #ff174585;
}
.btnteal{
background-color: #00bfa680;
}
.btnamber{
  background-color: #ffc4007c;
  }
.dark{
  background-color: #191919;
  color: aliceblue;
}